* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
 background: rgba(255, 255, 0, 0.897);
}
body{
    font-family: sans-serif;
}
#container{
    display: flex;
    justify-content: center;

}#cep-search h1 , p{
    text-align: center;
    padding: 20px;
   
    color: #111111;
}
input::placeholder{
    font-size: 20pt;
}
input{
    font-size: 20pt;
    text-align: left;
    border: none;
    padding: 10px 20px 10px;
    border-radius: 5px 0px 0px 5px;
    outline: none;

  
}
#container button {
    border: none;
    background: rgb(156, 8, 8);
    border-radius: 3px 3px 3px 0px;
    cursor: pointer;
    padding: 0px 5px;
    
 
}

#container img {
    width: 35px;
   
}
#text {
display: flex;
justify-content: center;


 
}
#text p {
    width: 400px;
    font-size: 20pt;
    text-align: left;
}
